@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

div, h1, h2, h3, h4, h5, li, Link, ul {
  background-color: transparent;
}