/* Masonry grid */
.my-masonry-grid {
    display: flex;
    padding-top: 20vh;
    margin-left: -10px; /* Evitar espacio extra en los márgenes */
    width: auto;
  }
  
  /* Columnas del masonry */
  .my-masonry-grid_column {
    padding-left: 100px; /* Espacio entre las columnas */
    background-clip: padding-box;
  }
  
  /* Evitar márgenes grandes entre las imágenes */
  .my-masonry-grid_column > div {
    margin-bottom: 10px;
  }